*.aqt
*.bak
*.bat
*.dcu
*.dll
*.dproj
*.drc
*.dsk
*.exe
*.identcache
*.jpg
*.lnk
*.local
*.map
*.new
*.old
*.res
*.test
*.~*~
*.~dsk
__history
bin/*
Misc/*
profiling/*
Rail Data Files/*.ldb
Rail Data Files/*.otares
Rail Data Files/*.rsm
Rail Data Files/*.tds
Rail Data Files/*Copy.mdb
Rail Data Files/Logs/*
Rail Data Files/notes.txt
SaveRail/*
TestUnit.dfm
TestUnit.pas
