*.dcu
*.~*~
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
*.res
*.dsk
*.~dsk
Rail Data Files/*.otares
Rail Data Files/*.tds
Rail Data Files/*.rsm
Rail Data Files/*.ldb
*.bak
*.old
*.dproj
bin/*
Rail Data Files/Logs/*
*.test
*.aqt
profiling/*
SaveRail/*
Misc/*
*.lnk
*.bat
*.jpg
Rail Data Files/*Copy.mdb
TestUnit.dfm
TestUnit.pas
