Sound1 WAV "C:\doc\Google Drive\RAD Studio\Resources\1.wav"
Sound2 WAV "C:\doc\Google Drive\RAD Studio\Resources\2.wav"
Sound3 WAV "C:\doc\Google Drive\RAD Studio\Resources\3.wav"
Sound4 WAV "C:\doc\Google Drive\RAD Studio\Resources\4.wav"
Sound5 WAV "C:\doc\Google Drive\RAD Studio\Resources\5.wav"
Sound6 WAV "C:\doc\Google Drive\RAD Studio\Resources\6.wav"
Sound7 WAV "C:\doc\Google Drive\RAD Studio\Resources\7.wav"
Sound8 WAV "C:\doc\Google Drive\RAD Studio\Resources\8.wav"
Sound9 WAV "C:\doc\Google Drive\RAD Studio\Resources\9.wav"
Sound10 WAV "C:\doc\Google Drive\RAD Studio\Resources\10.wav"
Sound11 WAV "C:\doc\Google Drive\RAD Studio\Resources\11.wav"
Sound12 WAV "C:\doc\Google Drive\RAD Studio\Resources\12.wav"
Sound13 WAV "C:\doc\Google Drive\RAD Studio\Resources\13.wav"
Sound14 WAV "C:\doc\Google Drive\RAD Studio\Resources\14.wav"
Sound15 WAV "C:\doc\Google Drive\RAD Studio\Resources\15.wav"
Sound16 WAV "C:\doc\Google Drive\RAD Studio\Resources\16.wav"
Sound17 WAV "C:\doc\Google Drive\RAD Studio\Resources\17.wav"
Sound18 WAV "C:\doc\Google Drive\RAD Studio\Resources\18.wav"
Sound19 WAV "C:\doc\Google Drive\RAD Studio\Resources\19.wav"
Sound20 WAV "C:\doc\Google Drive\RAD Studio\Resources\20.wav"
Sound21 WAV "C:\doc\Google Drive\RAD Studio\Resources\21.wav"
Sound22 WAV "C:\doc\Google Drive\RAD Studio\Resources\22.wav"
Sound23 WAV "C:\doc\Google Drive\RAD Studio\Resources\23.wav"
Sound24 WAV "C:\doc\Google Drive\RAD Studio\Resources\24.wav"
Sound25 WAV "C:\doc\Google Drive\RAD Studio\Resources\25.wav"
Sound26 WAV "C:\doc\Google Drive\RAD Studio\Resources\26.wav"
Sound27 WAV "C:\doc\Google Drive\RAD Studio\Resources\27.wav"
Sound28 WAV "C:\doc\Google Drive\RAD Studio\Resources\28.wav"
Sound29 WAV "C:\doc\Google Drive\RAD Studio\Resources\29.wav"
Sound30 WAV "C:\doc\Google Drive\RAD Studio\Resources\30.wav"
Sound31 WAV "C:\doc\Google Drive\RAD Studio\Resources\31.wav"
Sound32 WAV "C:\doc\Google Drive\RAD Studio\Resources\32.wav"
Sound33 WAV "C:\doc\Google Drive\RAD Studio\Resources\33.wav"
Sound34 WAV "C:\doc\Google Drive\RAD Studio\Resources\34.wav"
Sound35 WAV "C:\doc\Google Drive\RAD Studio\Resources\35.wav"
Sound36 WAV "C:\doc\Google Drive\RAD Studio\Resources\36.wav"
Sound37 WAV "C:\doc\Google Drive\RAD Studio\Resources\37.wav"
Sound38 WAV "C:\doc\Google Drive\RAD Studio\Resources\38.wav"
Sound39 WAV "C:\doc\Google Drive\RAD Studio\Resources\39.wav"
Sound40 WAV "C:\doc\Google Drive\RAD Studio\Resources\40.wav"
Sound41 WAV "C:\doc\Google Drive\RAD Studio\Resources\41.wav"
Sound42 WAV "C:\doc\Google Drive\RAD Studio\Resources\42.wav"
Sound43 WAV "C:\doc\Google Drive\RAD Studio\Resources\43.wav"
Sound44 WAV "C:\doc\Google Drive\RAD Studio\Resources\44.wav"
Sound45 WAV "C:\doc\Google Drive\RAD Studio\Resources\45.wav"
Sound46 WAV "C:\doc\Google Drive\RAD Studio\Resources\46.wav"
Sound47 WAV "C:\doc\Google Drive\RAD Studio\Resources\47.wav"
Sound48 WAV "C:\doc\Google Drive\RAD Studio\Resources\48.wav"
Sound49 WAV "C:\doc\Google Drive\RAD Studio\Resources\49.wav"
Sound50 WAV "C:\doc\Google Drive\RAD Studio\Resources\50.wav"
Sound51 WAV "C:\doc\Google Drive\RAD Studio\Resources\51.wav"
Sound52 WAV "C:\doc\Google Drive\RAD Studio\Resources\52.wav"
Sound53 WAV "C:\doc\Google Drive\RAD Studio\Resources\53.wav"
Sound54 WAV "C:\doc\Google Drive\RAD Studio\Resources\54.wav"
Sound55 WAV "C:\doc\Google Drive\RAD Studio\Resources\55.wav"
Sound56 WAV "C:\doc\Google Drive\RAD Studio\Resources\56.wav"
Sound57 WAV "C:\doc\Google Drive\RAD Studio\Resources\57.wav"
Sound58 WAV "C:\doc\Google Drive\RAD Studio\Resources\58.wav"
Sound59 WAV "C:\doc\Google Drive\RAD Studio\Resources\59.wav"
Sound60 WAV "C:\doc\Google Drive\RAD Studio\Resources\60.wav"
Sound61 WAV "C:\doc\Google Drive\RAD Studio\Resources\61.wav"
Sound62 WAV "C:\doc\Google Drive\RAD Studio\Resources\62.wav"
Sound63 WAV "C:\doc\Google Drive\RAD Studio\Resources\63.wav"
Sound64 WAV "C:\doc\Google Drive\RAD Studio\Resources\64.wav"
Sound65 WAV "C:\doc\Google Drive\RAD Studio\Resources\65.wav"
Sound66 WAV "C:\doc\Google Drive\RAD Studio\Resources\66.wav"
Sound67 WAV "C:\doc\Google Drive\RAD Studio\Resources\67.wav"
Sound68 WAV "C:\doc\Google Drive\RAD Studio\Resources\68.wav"
Sound69 WAV "C:\doc\Google Drive\RAD Studio\Resources\69.wav"
Sound70 WAV "C:\doc\Google Drive\RAD Studio\Resources\70.wav"
Sound71 WAV "C:\doc\Google Drive\RAD Studio\Resources\71.wav"
Sound72 WAV "C:\doc\Google Drive\RAD Studio\Resources\72.wav"
Sound73 WAV "C:\doc\Google Drive\RAD Studio\Resources\73.wav"
Sound74 WAV "C:\doc\Google Drive\RAD Studio\Resources\74.wav"
Sound75 WAV "C:\doc\Google Drive\RAD Studio\Resources\75.wav"
Sound76 WAV "C:\doc\Google Drive\RAD Studio\Resources\76.wav"
Sound77 WAV "C:\doc\Google Drive\RAD Studio\Resources\77.wav"
Sound78 WAV "C:\doc\Google Drive\RAD Studio\Resources\78.wav"
Sound79 WAV "C:\doc\Google Drive\RAD Studio\Resources\79.wav"
Sound80 WAV "C:\doc\Google Drive\RAD Studio\Resources\80.wav"
Sound81 WAV "C:\doc\Google Drive\RAD Studio\Resources\81.wav"
Sound82 WAV "C:\doc\Google Drive\RAD Studio\Resources\82.wav"
Sound83 WAV "C:\doc\Google Drive\RAD Studio\Resources\83.wav"
Sound84 WAV "C:\doc\Google Drive\RAD Studio\Resources\84.wav"
Sound85 WAV "C:\doc\Google Drive\RAD Studio\Resources\85.wav"
Sound86 WAV "C:\doc\Google Drive\RAD Studio\Resources\86.wav"
Sound87 WAV "C:\doc\Google Drive\RAD Studio\Resources\87.wav"
Sound88 WAV "C:\doc\Google Drive\RAD Studio\Resources\88.wav"
Sound89 WAV "C:\doc\Google Drive\RAD Studio\Resources\89.wav"
Sound90 WAV "C:\doc\Google Drive\RAD Studio\Resources\90.wav"
Sound91 WAV "C:\doc\Google Drive\RAD Studio\Resources\91.wav"
Sound92 WAV "C:\doc\Google Drive\RAD Studio\Resources\92.wav"
Sound93 WAV "C:\doc\Google Drive\RAD Studio\Resources\93.wav"
Sound94 WAV "C:\doc\Google Drive\RAD Studio\Resources\94.wav"
Sound95 WAV "C:\doc\Google Drive\RAD Studio\Resources\95.wav"
Sound96 WAV "C:\doc\Google Drive\RAD Studio\Resources\96.wav"
Sound97 WAV "C:\doc\Google Drive\RAD Studio\Resources\97.wav"
Sound98 WAV "C:\doc\Google Drive\RAD Studio\Resources\98.wav"
Sound99 WAV "C:\doc\Google Drive\RAD Studio\Resources\99.wav"
Sound100 WAV "C:\doc\Google Drive\RAD Studio\Resources\100.wav"
Sound200 WAV "C:\doc\Google Drive\RAD Studio\Resources\200.wav"
Sound300 WAV "C:\doc\Google Drive\RAD Studio\Resources\300.wav"
Sound400 WAV "C:\doc\Google Drive\RAD Studio\Resources\400.wav"
Sound500 WAV "C:\doc\Google Drive\RAD Studio\Resources\500.wav"
Sound600 WAV "C:\doc\Google Drive\RAD Studio\Resources\600.wav"
Sound700 WAV "C:\doc\Google Drive\RAD Studio\Resources\700.wav"
Sound800 WAV "C:\doc\Google Drive\RAD Studio\Resources\800.wav"
Sound900 WAV "C:\doc\Google Drive\RAD Studio\Resources\900.wav"
EditIcon ICON "C:\doc\Google Drive\RAD Studio\Resources\edit.ico"
IsThatRight WAV "C:\doc\Google Drive\RAD Studio\Resources\is_that_right.wav"
IsThisCorrect WAV "C:\doc\Google Drive\RAD Studio\Resources\is_this_correct.wav"
On WAV "C:\doc\Google Drive\RAD Studio\Resources\on.wav"
OnlineIcon ICON "C:\doc\Google Drive\RAD Studio\Resources\online.ico"
Off WAV "C:\doc\Google Drive\RAD Studio\Resources\off.wav"
OfflineIcon ICON "C:\doc\Google Drive\RAD Studio\Resources\offline.ico"
OK WAV "C:\doc\Google Drive\RAD Studio\Resources\ok.wav"
ShortCircuit WAV "C:\doc\Google Drive\RAD Studio\Resources\short_circuit.wav"
With WAV "C:\doc\Google Drive\RAD Studio\Resources\with.wav"
CrossHair CURSOR "C:\doc\Google Drive\RAD Studio\Resources\crosshair.cur"
